# Amazon SageMaker Autopilot Data Exploration

This report provides insights about the dataset you provided as input to the AutoML job.
It was automatically generated by the AutoML training job: **test3**.

As part of the AutoML job, the input dataset was randomly split into two pieces, one for **training** and one for
**validation**. The training dataset was randomly sampled, and metrics were computed for each of the columns.
This notebook provides these metrics so that you can:

1. Understand how the job analyzed features to select the candidate pipelines.
2. Modify and improve the generated AutoML pipelines using knowledge that you have about the dataset.

We read **`1393`** rows from the training dataset.
The dataset has **`52`** columns and the column named **`PaymentAmount`** is used as the target column.
This is identified as a **`Regression`** problem.
The labels were found to be within the range `[40.0, 30000.0]`.

<div class="alert alert-info"> ðŸ’¡ <strong> Suggested Action Items</strong>

- Look for sections like this for recommended actions that you can take.
</div>


---

## Contents
1. [Dataset Sample](#Dataset-Sample)
1. [Column Analysis](#Column-Analysis)
---

## Dataset Sample
The following table is a random sample of **10** rows from the training dataset.
    For ease of presentation, we are only showing **20 of the 52** columns of the dataset.

<div class="alert alert-info"> ðŸ’¡ <strong> Suggested Action Items</strong>

- Verify the input headers correctly align with the columns of the dataset sample.
    If they are incorrect, update the header names of your input dataset in Amazon Simple Storage Service (Amazon S3).
</div>


<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PaymentAmount</th>
      <th>Deductible</th>
      <th>DayCount</th>
      <th>AD_4280</th>
      <th>AD_486</th>
      <th>AD_49121</th>
      <th>AD_7802</th>
      <th>AD_78079</th>
      <th>AD_78097</th>
      <th>AD_78605</th>
      <th>...</th>
      <th>CD3_5990</th>
      <th>CD4_25000</th>
      <th>CD4_2724</th>
      <th>CD4_4019</th>
      <th>CD4_41400</th>
      <th>CD4_41401</th>
      <th>CD4_42731</th>
      <th>CD4_4280</th>
      <th>CD4_496</th>
      <th>CD4_53081</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>3000</td>
      <td>1100</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>6000</td>
      <td>1100</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9000</td>
      <td>1024</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>13000</td>
      <td>1100</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3000</td>
      <td>1068</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10000</td>
      <td>1024</td>
      <td>10</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7000</td>
      <td>1024</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>5000</td>
      <td>1024</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3000</td>
      <td>1024</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4000</td>
      <td>1068</td>
      <td>13</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

## Column Analysis
The AutoML job analyzed the **`52`** input columns to infer each data type and select
the feature processing pipelines for each training algorithm.
For more details on the specific AutoML pipeline candidates, see [Amazon SageMaker Autopilot Candidate Definition Notebook.ipynb](./SageMakerAutopilotCandidateDefinitionNotebook.ipynb).

### Percent of Missing Values
Within the data sample, the following columns contained missing values, such as: `nan`, white spaces, or empty fields.

SageMaker Autopilot will attempt to fill in missing values using various techniques. For example,
missing values can be replaced with a new 'unknown' category for `Categorical` features
and missing `Numerical` values can be replaced with the **mean** or **median** of the column.

We found **0 of the 52** of the columns contained missing values.

<div class="alert alert-info"> ðŸ’¡ <strong> Suggested Action Items</strong>

- Investigate the governance of the training dataset. Do you expect this many missing values?
    Are you able to fill in the missing values with real data?
- Use domain knowledge to define an appropriate default value for the feature. Either:
    - Replace all missing values with the new default value in your dataset in Amazon S3.
    - Add a step to the feature pre-processing pipeline to fill missing values, for example with a
    [sklearn.impute.SimpleImputer](https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html).
</div>

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>% of Missing Values</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

### Count Statistics
For `String` features, it is important to count the number of unique values to determine whether to treat a feature as `Categorical` or `Text`
and then processes the feature according to its type.

For example, SageMaker Autopilot counts the number of unique entries and the number of unique words.
The following string column would have **3** total entries, **2** unique entries, and **3** unique words.

|       | String Column     |
|-------|-------------------|
| **0** | "red blue"        |
| **1** | "red blue"        |
| **2** | "red blue yellow" |

If the feature is `Categorical`, SageMaker Autopilot can look at the total number of unique entries and transform it using techniques such as one-hot encoding.
If the field contains a `Text` string, we look at the number of unique words, or the vocabulary size, in the string.
We can use the unique words to then compute text-based features, such as Term Frequency-Inverse Document Frequency (tf-idf).

**Note:** If the number of unique values is too high, we risk data transformations expanding the dataset to too many features.
In that case, SageMaker Autopilot will attempt to reduce the dimensionality of the post-processed data,
such as by capping the number vocabulary words for tf-idf, applying Principle Component Analysis (PCA), or other dimensionality reduction techniques.

The table below shows **25 of the 52** columns ranked by the number of unique entries.

<div class="alert alert-info"> ðŸ’¡ <strong> Suggested Action Items</strong>

- Verify the number of unique values of a feature is expected with respect to domain knowledge.
    If it differs, one explanation could be multiple encodings of a value.
    For example `US` and `U.S.` will count as two different words.
    You could correct the error at the data source or pre-process your dataset in your S3 bucket.
- If the number of unique values seems too high for Categorical variables,
    investigate if using domain knowledge to group the feature
    to a new feature with a smaller set of possible values improves performance.
</div>

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Number of Unique Entries</th>
      <th>Number of Unique Words (if Text)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>CD2_2724</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>CD2_42731</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>CD2_4280</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>CD2_496</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>CD2_53081</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>CD2_5990</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>CD3_25000</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>CD3_2724</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>CD3_4019</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>CD3_41400</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>CD3_41401</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>CD2_41401</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>CD1_4280</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>CD1_42823</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>CD1_486</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>CD1_49121</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>CD1_7802</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>CD1_78659</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>CD1_V5789</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>CD2_2449</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>CD1_389</th>
      <td>2</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>Deductible</th>
      <td>4</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>DayCount</th>
      <td>30</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>PaymentAmount</th>
      <td>40</td>
      <td>n/a</td>
    </tr>
  </tbody>
</table>
</div>

### Descriptive Statistics
For each of the numerical input features, several descriptive statistics are computed from the data sample.

SageMaker Autopilot may treat numerical features as `Categorical` if the number of unique entries is sufficiently low.
For `Numerical` features, we may apply numerical transformations such as normalization, log and quantile transforms,
and binning to manage outlier values and difference in feature scales.

We found **52 of the 52** columns contained at least one numerical value.
The table below shows the **25** columns which have the largest percentage of numerical values.

<div class="alert alert-info"> ðŸ’¡ <strong> Suggested Action Items</strong>

- Investigate the origin of the data field. Are some values non-finite (e.g. infinity, nan)?
    Are they missing or is it an error in data input?
- Missing and extreme values may indicate a bug in the data collection process.
    Verify the numerical descriptions align with expectations.
    For example, use domain knowledge to check that the range of values for a feature meets with expectations.
</div>


<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>% of Numerical Values</th>
      <th>Mean</th>
      <th>Median</th>
      <th>Min</th>
      <th>Max</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>PaymentAmount</th>
      <td>100.0%</td>
      <td>6608.97</td>
      <td>5000.0</td>
      <td>40.0</td>
      <td>30000.0</td>
    </tr>
    <tr>
      <th>Deductible</th>
      <td>100.0%</td>
      <td>1027.76</td>
      <td>1068.0</td>
      <td>0.0</td>
      <td>1100.0</td>
    </tr>
    <tr>
      <th>CD2_42731</th>
      <td>100.0%</td>
      <td>0.092606</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD2_4280</th>
      <td>100.0%</td>
      <td>0.086145</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD2_496</th>
      <td>100.0%</td>
      <td>0.078966</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD2_53081</th>
      <td>100.0%</td>
      <td>0.076813</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD2_5990</th>
      <td>100.0%</td>
      <td>0.063891</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD3_25000</th>
      <td>100.0%</td>
      <td>0.135678</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD3_2724</th>
      <td>100.0%</td>
      <td>0.105528</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD3_4019</th>
      <td>100.0%</td>
      <td>0.217516</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD3_41400</th>
      <td>100.0%</td>
      <td>0.077531</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD3_41401</th>
      <td>100.0%</td>
      <td>0.100503</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD3_42731</th>
      <td>100.0%</td>
      <td>0.102656</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD3_4280</th>
      <td>100.0%</td>
      <td>0.084709</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD3_496</th>
      <td>100.0%</td>
      <td>0.063891</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD3_53081</th>
      <td>100.0%</td>
      <td>0.061019</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD3_5990</th>
      <td>100.0%</td>
      <td>0.050969</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD4_25000</th>
      <td>100.0%</td>
      <td>0.117732</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD4_2724</th>
      <td>100.0%</td>
      <td>0.141421</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD4_4019</th>
      <td>100.0%</td>
      <td>0.17229</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD4_41400</th>
      <td>100.0%</td>
      <td>0.068198</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD4_41401</th>
      <td>100.0%</td>
      <td>0.131371</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD4_42731</th>
      <td>100.0%</td>
      <td>0.10481</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD4_4280</th>
      <td>100.0%</td>
      <td>0.101938</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>CD4_496</th>
      <td>100.0%</td>
      <td>0.083274</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
</div>